header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    padding: 20px;
    background-color: #07a16f;
    color: white;
    font-size: 16px;
    max-width: 920px;
    margin: 0 auto;
}

.header-option {
    display: flex;
    width: 50%;
    justify-content: space-between;
    align-items: center;
}

.last_time_message {
    width: 50%;
    text-align: right;
}