.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    max-width: 100%;
    background-color: #07a16f;
    margin: 0 auto;
}

.footerText {
    color: white;
    padding: 20px;
}